<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sih.hawkeye">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity android:name=".ocr.OcrActivity" />
        <activity android:name=".OfficerDashboardActivity" />
        <activity android:name=".ReportCyberFraudActivity" />
        <activity android:name=".PassportVerificationActivity" />
        <activity android:name=".CyberAwarenessActivity" />
        <activity
            android:name=".PublicHomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginSelectActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".PublicLoginActivity" />
        <activity android:name=".ReceptionLoginActivity" />
        <activity
            android:name=".RegisterCrimeStatusActivity"
            android:label="@string/title_activity_issue_status"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ReportedIssuesDetailsForInmatesActivity" />
        <activity android:name=".ReportAnIssueActivity" />
        <activity android:name=".ReportedCrimesActivity" />
        <activity android:name=".ReportedIssuesDetailsForReceptionActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NotificationService"
            android:exported="false" />

        <activity android:name=".ControlPanelActivity" />

        <receiver android:name=".WidgetForInmates">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_for_inmates_info" />
        </receiver>

        <activity android:name=".NoNetwork" />
    </application>

</manifest>